<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Create Task</title>
</head>

<body>
<h1>Create Task</h1>

<form action="/task/create" method="post">
    <div>
        <label for="task_title">TITLE</label>
        <input type="text" id="task_title" name="title" required th:value="${task.title}"/>
    </div>
    <div>
        <label for="task_description">DESCRIPTION</label>
        <textarea id="task_description" name="description" required th:value="${task.description}"></textarea>
    </div>
    <div>
        <label for="task_priority">PRIORITY</label>
        <input type="number" id="task_priority" name="priority" required th:value="${task.priority}"/>
    </div>
    <button type="submit">SAVE</button>
</form>

</body>